*{
    margin: 0px;
    padding: 0px;
}

#card{
    border: 2px solid black;
    border-radius: 20px;
    width: 250px;
    margin: 20px;
    text-align: center;
    background-color: bisque;
}
img{
    border-radius: 15px;
    margin: 10px;
    width: 200px;
    height: 200px;
}
#body{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#button{
    background-color: orange;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
#button-div{
    display: flex;
    justify-content: right;
}
.App {
    text-align: center;
    min-height: 100vh;
    background: #636363;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}