.container {
  display: flex;
  border: 2px solid #333;
  margin: 20px;
  height: 200px; /* useful for vertical alignment demos */
}

.item {
  background: lightblue;
  border: 1px solid #333;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: space-betweenu;
  flex-wrap: wrap;
}

.item {
  width: 120px; /* force wrapping */
}
.container {
  display: flex;
  flex-direction: row; /* try row-reverse, column, column-reverse */
}
